<%= form_with url: form_to, model: note, method: :post do |form| %>
  <div class="mb-3">
    <%= form.text_field :title, class: 'form-control h3', placeholder: 'Betreff eingeben...' %>
  </div>

  <div class="mb-3">
    <%= form.rich_text_area :content, placeholder: 'Schreiben Sie einfach los...' %>
  </div>

  <%= form.submit 'Speichern', class: 'btn btn-primary mb-3' %>
  <%= link_to 'Abbrechen', notes_path(@case), class: 'btn btn-secondary mb-3' %>
  <% unless note.new_record? %>
  <%= link_to 'Notiz löschen', delete_note_path(@case, @note), class: 'btn btn-outline-danger mb-3' %>
  <% end %>
<% end %>