<%= render 'case/case_header', view: :calendar %>
<h2 class="h5 mt-3 mb-3 fw-bold">Kalendar</h2>

<%= month_calendar do |date| %>
  <h3 class="h4 p-1 mb-1"><a href="<%= new_event_path(@case, when: date) %>"><%= date.day %></a></h3>
  <% has_events = @case.calendar_events.where(when: date).any? || @case.representments.where(when: date).any? %>
  <% if has_events %>
  <ul class="mb-0 list-unstyled">
    <% @case.calendar_events.where(when: date).each do |ce| %>
      <li class="p-1"><%= link_to ce.title, edit_event_path(@case, ce) %></li>
    <% end %>
    <% @case.representments.where(when: date).each do |rp| %>
      <li class="p-1" title="<%= rp.reason %>"><a href="<%= show_case_path(@case) %>" class="link-secondary">WV an <%= rp.to_user.display_name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p class="mb-1 fst-italic px-1 fs-small">Keine Termine</p>
  <% end %>
<% end %>