<%= render 'case_header', view: :info %>

<%= form_with url: update_case_url, model: @case, method: :post do |form| %>
<div class="row">
  <div class="col col-12 col-md-8">

    <h2 class="h5 mt-3 mb-3 fw-bold">Vorgangsinformationen bearbeiten</h2>

    <div class="form-floating mb-3">
      <%= form.text_field :title, class: 'form-control', placeholder: '' %>
      <%= form.label :title, 'Bezeichnung' %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_field :case_no, class: 'form-control', disabled: true, placeholder: '' %>
      <%= form.label :case_no, 'Vorgangsnummer' %>
    </div>
    
    <div class="form-floating mb-3">
      <%= form.text_area :summary, class: 'form-control', placeholder: '' %>
      <%= form.label :summary, 'Kurzbeschreibung' %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_area :local_records, class: 'form-control textarea-sm', placeholder: '' %>
      <%= form.label :local_records, 'Aktenführung (leer lassen, wenn ausschließlich über Well)' %>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <div class="form-floating">
          <%= form.select :case_type, CaseType.all.map { |tp| [tp.title, tp.id]}, {selected: @case.case_type.id, prompt: 'Bitte auswählen...'}, { class: 'form-select' } %>
          <%= form.label :case_type, 'Kategorie' %>
        </div>
        <div class="fs-small p-1 mt-1 px-2 text-secondary">Hinweis: Die Vorgangsnummer wird bei Änderung der Vorgangskategorie nicht angepasst!</div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-floating">
          <%= form.select :case_status, CaseStatus.all.map { |st| [st.title, st.id]}, {selected: @case.case_status.id, prompt: 'Bitte auswählen...'}, { class: 'form-select' } %>
          <%= form.label :case_status, 'Status' %>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_area :linked_cases_input, class: 'form-control', placeholder: '', value: @case.linked_cases_to_input %>
      <%= form.label :linked_cases_input, 'Zugehörige Vorgänge (Vorgangsnr. eingeben)' %>
    </div>
  </div>
  <div class="col col-12 col-md-4">
    <h2 class="h5 mt-3 mb-3 fw-bold">Verantwortliche/r</h2>

    <%= form.select :manager, User.all.map { |u| [u.display_name, u.id]}, {selected: @case.manager.id, prompt: 'Bitte auswählen...'}, { class: 'form-select mb-1', disabled: !current_user.manager_of?(@case) } %>

    <% if current_user.manager_of? @case %>
    <p class="mb-1 p-1"><%= link_to 'Weitere Nutzerrechte bearbeiten', permissions_path(@case) %></p>
    <% end %>

    <%= form.submit 'Änderungen speichern', class: 'btn btn-primary btn-lg w-100 mb-1 mt-3' %>
    <%= link_to 'Abbrechen', show_case_path(@case), class: 'btn btn-secondary w-100' %>
  </div>
</div>
<% end %>