<h1 class="fw-bold mb-3">Vorg채nge</h1>

<%= form_with method: :get do |form| %>
<div class="row g-1 mb-3 d-print-none">
  <div class="col-12 col-md-2">
    <div class="form-floating">
      <%= form.text_field :case_no, value: params[:case_no], class: 'form-control', placeholder: '' %>
      <%= form.label :case_no, 'Nummer' %>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="form-floating">
      <%= form.text_field :title, value: params[:title], class: 'form-control', placeholder: '' %>
      <%= form.label :title, 'Bezeichnung' %>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <div class="form-floating">
      <%= form.select :case_type, CaseType.all.map { |tp| [tp.title, tp.id] }, {include_blank: '(alle)', selected: params[:case_type]}, { class: 'form-select' } %>
      <%= form.label :case_type, 'Kategorie' %>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <div class="form-floating">
      <%= form.select :case_status, [['(alle)', 'all'], ['(offene Vorg채nge)', 'open']] + CaseStatus.all.map { |st| [st.title, st.id]}, {selected: params[:case_status] || 'open'}, { class: 'form-select' } %>
      <%= form.label :case_status, 'Status' %>
    </div>
  </div>
  <div class="col-12 col-md-1 p-2 pe-1 pt-1 align-self-center">
    <%= form.submit 'Suchen', class: 'btn btn-primary w-100 py-2' %>
  </div>
  <div class="col-12 col-md-1 p-2 ps-1 pt-1 align-self-center">
    <%= link_to 'NEU', new_case_path, class: 'btn btn-outline-primary w-100 py-2' %>
  </div>
</div>
<% end %>

<% if @cases.any? %>
<div class="card mb-3">
  <% case_count = @cases.count %>
  <% if case_count == 1 %>
  <div class="card-header">1 Vorgang gefunden</div>
  <% else %>
  <div class="card-header"><%= case_count %> Vorg채nge gefunden</div>
  <% end %>
  <div class="card-body">
    <table class="table table-striped-rows table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bezeichnung</th>
          <th scope="col">Kategorie</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @cases.each do |c| %>
        <tr>
          <td class="font-monospace"><%= c.case_no %></td>
          <td><%= link_to c.title, show_case_url(c) %></td>
          <td><%= c.case_type.title %></td>
          <td><span style="background-color: <%= c.case_status.color %>"><%= c.case_status.title %></span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<p>Keine Vorg채nge mit diesen Filtern gefunden.</p>
<% end %>