<%= render 'case_header', view: :info %>

<div class="row">
  <div class="col col-12 col-md-8">

    <h2 class="h5 mt-3 mb-3 fw-bold">Bezeichnung des Vorgangs</h2>

    <p class="mb-1"><%= @case.title %></p>

    <p><%= @case.case_no %></p>

    <h2 class="h5 mt-3 mb-3 fw-bold">Kurzbeschreibung</h2>
    <%= simple_format(@case.summary) %>

    <% unless @case.local_records.blank? %>
    <h2 class="h5 mt-3 mb-3 fw-bold">Aktenführung</h2>
    <%= simple_format(@case.local_records) %>
    <% end %>

    <h2 class="h5 mt-3 mb-3 fw-bold">Vorgangsdaten</h2>

    <p>Vorgang angelegt am: <%= @case.created_at.strftime("%d.%m.%Y") %></p>
    <p>Status des Vorgangs: <span style="background-color: <%= @case.case_status.color %>"><%= @case.case_status.title %></span></p>

    <% if @case.user_has_permission?(current_user, :case_write) %>
    <a href="<%= edit_case_url(@case) %>" class="btn btn-secondary mt-3 mb-3 btn-sm">Vorgangsinformationen bearbeiten</a>
    <% end %>

  </div>
  <div class="col col-12 col-md-4">
    <% if @case.representments.any? %>
    <h2 class="h5 mt-3 mb-3 fw-bold">Wiedervorlagen</h2>

    <% @case.representments.current.each do |rp| %>
      <div class="card mb-2 <%= rp.priority ? 'text-bg-danger' : '' %>">
        <div class="card-body p-2">
          <p class="mb-1 opacity-75 fs-small">
            <% if rp.from_user != rp.to_user %>
            <span title="Verfügung von <%= rp.from_user.display_name %> vom <%= rp.created_at.strftime("%d.%m.%Y") %>"><%= rp.priority ? 'WV (dringend)' : 'WV' %></span>
            <% else %>
            <span title="Verfügung vom <%= rp.created_at.strftime("%d.%m.%Y") %>"><%= rp.priority ? 'WV (dringend)' : 'WV' %></span>
            <% end %>
            an <%= rp.to_user.display_name %> am <%= rp.when.strftime("%d.%m.%Y") %>:
          </p>
          <p class="mb-0 fw-bold"><%= rp.reason %></p>
        </div>
      </div>
    <% end %>

    <% @case.representments.future.each do |rp| %>
    <p class="mb-1 fs-small text-secondary" title="<%= rp.reason %>">WV an <%= rp.to_user.display_name %> am <%= rp.when.strftime("%d.%m.%Y") %></p>
    <% end %>

    <% end %>

    <h2 class="h5 mt-3 mb-3 fw-bold">Verantwortliche/r</h2>
    <% if @case.case_permissions.any? %>
      <p class="mb-0"><%= @case.manager&.display_name %></p>
      <p class="mb-4"><%= link_to 'Weitere Vorgangsbeteiligte', permissions_path(@case), class: 'fs-small' %></p>
    <% else %>
      <p class="mb-4"><%= @case.manager&.display_name %></p>
    <% end %>

    <% if @case.user_has_permission?(current_user, :calendar_read) %>
      <% events = @case.calendar_events.where(when: Date.today..1.month.from_now) %>
      <% if events.any? %>
      <h2 class="h5 mt-3 mb-3 fw-bold">Anstehende Termine</h2>
      <ul class="list-group">
        <% events.each do |ce| %>
          <li class="list-group-item">
            <p class="fs-small mb-0"><%= ce.when.strftime("%d.%m.%Y") %></p>
            <%= link_to ce.title, edit_event_path(ce.case, ce), class: 'd-block fw-bold' %>
          </li>
        <% end %>
      </ul>
      <% end %>
    <% end %>

    <% if @case.user_has_permission?(current_user, :participants_read) %>
      <% if @case.participants.count > 0 %>
        <h2 class="h5 mt-3 mb-3 fw-bold">Beteiligte des Vorgangs</h2>
        <ul>
          <% for part in @case.participants.where(outdated: false) %>
            <li>
              <%= part.name %> (<%= part.participant_role.title %>)
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>