<%= form_with url: form_to, model: task, method: :post do |form| %>
  <div class="row">
    <div class="col col-md-8">
      <div class="mb-3">
        <%= form.text_field :title, class: 'form-control h3', placeholder: 'Betreff eingeben...' %>
      </div>

      <div class="mb-3">
        <%= form.rich_text_area :description, placeholder: 'Schreiben Sie einfach los...' %>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="form-floating mb-3">
        <%= form.select :user, User.all.map { |u| [u.display_name, u.id]}, {selected: task.user&.id, include_blank: 'Ggf. auswählen...'}, { class: 'form-select' } %>
        <%= form.label :user, 'Zugewiesen an' %>
      </div>
      
      <div class="form-floating mb-3">
        <%= form.select :task_column, @case.task_columns.all.map { |dt| [dt.title, dt.id]}, {selected: task.task_column&.id, prompt: 'Bitte auswählen...'}, { class: 'form-select' } %>
        <%= form.label :task_column, 'Status' %>
      </div>

      <div class="form-floating mb-3">
        <%= form.date_field :due, class: 'form-control', placeholder: '' %>
        <%= form.label :due, 'Zu erledigen bis' %>
      </div>

      <div class="card">
        <div class="card-body py-1">
          <div class="form-check m-0">
            <%= form.check_box :is_resolved, class: 'form-check-input', checked: task.is_resolved %>
            <%= form.label :is_resolved, 'Aufgabe als erledigt markieren' %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <%= form.submit 'Speichern', class: 'btn btn-primary mb-3' %>
  <%= link_to 'Abbrechen', tasks_url(@case), class: 'btn btn-secondary mb-3' %>
  <% unless task.new_record? %>
    <%= link_to 'Aufgabe löschen', '', class: 'btn btn-outline-danger mb-3' %>
  <% end %>
<% end %>