<%= render 'case/case_header', view: :tasks %>
<h2 class="h5 mt-3 mb-3 fw-bold">Aufgabe löschen</h2>

<p>Wollen Sie die folgende Aufgabe wirklich löschen?</p>
<p class="fw-bold"><%= @task.title %></p>

<%= form_with url: destroy_task_path(@case, @task), model: @task, method: :post do |form| %>
<%= form.submit 'Aufgabe jetzt löschen', class: 'btn btn-danger mb-3' %>
<%= link_to 'Abbrechen', edit_note_path(@case, @task), class: 'btn btn-secondary mb-3' %>
<% end %>