<%= render 'case/case_header', view: :tasks %>


<div class="clearfix mb-3">
  <div class="float-end">
    <a href="<%= new_task_url(@case) %>" class="btn btn-dark">Neue Aufgabe</a>
  </div>
</div>

<div class="row flex-nowrap g-2 overflow-auto pb-3">
  <% @case.task_columns.order(:title).each do |col| %>
    <div class="col col-4">
      <div class="card text-bg-light">
        <div class="card-header pe-2 fw-bold">
          <button class="btn btn-sm btn-outline-dark float-end">Bearbeiten</button>
          <h2 class="h5 m-0 mt-1 fw-bold"><%= col.title %></h2>
        </div>
        <div class="card-body p-2 pb-0">
          <% if col.tasks.any? %>
            <% col.tasks.order(:is_resolved, :due, :updated_at).each do |task|%>
              <a href="<%= edit_task_url(@case, task) %>" class="card mb-2 text-decoration-none <%= task.status == :overdue ? "bg-warning-subtle" : "" %> <%= task.status == :resolved ? "border-success opacity-25" : "shadow-sm" %>">
                <div class="card-body py-2">
                  <p class="mb-0"><strong><%= task.title %></strong></p>
                  <% if task.user %>
                    <p class="mb-0 fs-small">Für: <%= task.user.display_name %></p>
                  <% else %>
                    <p class="mb-0 fs-small">nicht zugewiesen</p>
                  <% end %>
                  <% if task.due %>
                    <p class="mb-0 fs-small">Bis: <%= task.due.strftime("%d.%m.%Y") %></p>
                  <% end %>
                </div>
              </a>
            <% end %>
          <% else %>
            <div class="mb-2 p-2 text-center fs-small">Hier ist gerade nichts.</div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>