<%= render 'case/case_header', view: :parties %>

<%= form_with method: :get do |form| %>
<div class="row g-1 mb-3">
  <div class="col-12 col-md-2">
    <div class="form-floating">
      <%= form.select :participant_role, ParticipantRole.all.map { |tp| [tp.title, tp.id]}, {include_blank: '(alle)', selected: params[:participant_role]}, { class: 'form-select' } %>
      <%= form.label :participant_role, 'Rolle' %>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="form-floating">
      <%= form.text_field :name, value: params[:name], class: 'form-control', placeholder: '' %>
      <%= form.label :name, 'Name' %>
    </div>
  </div>
  <div class="col-12 col-md-1 p-2 pe-1 pt-1 align-self-center">
    <%= form.submit 'Suchen', class: 'btn btn-primary w-100 py-2' %>
  </div>
  <% if @case.user_has_permission?(current_user, :participants_write) %>
    <div class="col-12 col-md-1 p-2 ps-1 pt-1 align-self-center">
      <%= link_to 'NEU', new_participant_url(@case), class: 'btn btn-outline-primary w-100 py-2' %>
    </div>
  <% end%>
</div>
<% end %>

<% if @participants.any? %>
<% @participants.each do |p| %>
<div class="card mb-3">
  <div class="card-header border-0 p-3">
    <div class="row">
      <div class="col">
        <h3 class="h5 m-0">
          <a href="#collapse-body-<%= p.id %>" data-bs-toggle="collapse" class="fw-bold link-body-emphasis text-decoration-none"><%= p.name %></a>
          &ndash; <%= p.participant_role.title %>
        </h3>
      </div>
      <% if @case.user_has_permission?(current_user, :participants_write) %>
        <div class="col-auto">
          <a href="<%= edit_participant_url(@case, p) %>">Bearbeiten</a>
        </div>
        <div class="col-auto">
          <a href="" class="link-danger">Löschen</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body p-0 border-top collapse <%= @participants.count == 1 ? 'show' : '' %>" id="collapse-body-<%= p.id %>">
    <table class="table m-0 data-table border-dark-subtle fix-table">
      <tr>
        <th>Anschrift</th>
        <td><%= simple_format(p.address_field) %></td>
        <th>Kontakt-Details</th>
        <td><%= simple_format(p.contact_details) %></td>
      </tr>
      <tr>
        <th>E-Mail</th>
        <td><%= mail_to p.email %></td>
        <th>Telefax</th>
        <td><%= p.fax_no%></td>
      </tr>
      <tr>
        <th>Telefon</th>
        <td><%= p.tel_no %></td>
        <th>Mobil</th>
        <td><%= p.mobile_no %></td>
      </tr>
      <tr>
        <th>Kommentar</th>
        <td colspan="3"><%= simple_format(p.comment) %></td>
      </tr>
    </table>
  </div>
</div>
<% end %>
<% else %>
<p>Keine Beteiligten mit diesen Filtern gefunden.
<% end %>