<%= render 'documents/template', note: nil, folder: @folder do %>

<h3 class="h5 mt-3 mb-3 fw-bold">
  <%= link_to @folder.printable_name, folder_url(@case, @folder), class: 'text-decoration-none' %>/<%= @document.printable_name %>/
  <% unless @document.primary_item.blank? %>
    <%= link_to "💾 #{@document.primary_item.short_file_name}", url_for(@document.primary_item.file),
              class: 'btn btn-outline-dark py-0 fw-bold shadow-sm', target: '_blank' %>
  <% end %>
</h3>

<a href="<%= new_document_item_path(@case, @folder, @document) %>" class="btn btn-secondary btn-sm mb-3">Weitere Datei hochladen</a>
<a href="<%= edit_document_path(@case, @folder, @document) %>" class="btn btn-secondary btn-sm mb-3">Dokument bearbeiten</a>

<% if @document.document_items.any? %>
<div class="list-group list-group-flush mb-3">
  <% @document.document_items.default_order.each do |item| %>
  <div class="list-group-item">
    <div class="row mb-1">
      <%= link_to url_for(item.file), class: 'col pt-0 d-block link-dark text-decoration-none', target: '_blank' do %>
        <% if !item.file.blank? %>
        <h4 class="h6 mb-1 fw-bold"><%= item.file_name %></h4>
        <p class="mb-0 fs-small"><%= item.file_type %>, <%= "%.2f" % (item.file.byte_size / 1.0.megabyte) %> MB</p>
        <% else %>
        <h4 class="h6 fw-bold text-danger m-0 mb-1"><%= item.file_name %></h4>
        <p class="mb-0 fs-small">Datei nicht gefunden</p>
        <% end %>
      <% end %>
      <div class="col-auto pt-0">
        <% case item.type %>
        <% when :primary %>
        <span class="badge text-bg-primary fs-5">Hauptdatei</span>
        <% when :attachment %>
        <span class="badge text-bg-secondary">Anlage</span>
        <% when :transactional %>
        <span class="badge text-bg-secondary">Beleg</span>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<h4 class="mt-5 mb-3 h5">Notizen zu diesem Dokument</h4>

<% if !@document.note.blank? %>

<div class="card mb-3">
  <div class="card-body">
    <%= @document.note.content %>
  </div>
  <div class="card-footer">
    <a href="<%= edit_note_url(@case, @document.note) %>" class="btn btn-outline-secondary btn-sm">Notiz bearbeiten</a>
  </div>
</div>



<% else %>
<p>Für dieses Dokument wurden noch keine Notiz erstellt. <a href="<%= new_note_url(@case, document: @document) %>">Jetzt erstellen</a></p>
<% end %>

<% else %>
<p>Für dieses Dokument wurden noch keine Dateien hochgeladen.</p>
<p>
  <a href="<%= new_document_item_path(@case, @folder, @document) %>" class="btn btn-primary">Jetzt Datei hochladen</a>
  <a href="<%= edit_document_path(@case, @folder, @document) %>" class="btn btn-secondary">Dokument bearbeiten</a>
</p>
<% end %>

<% end %>