<%= render 'documents/template', note: nil, folder: @folder do %>

<h3 class="h5 mt-3 mb-3 fw-bold"><%= @folder.printable_name %>/</h3>

<div class="mb-4">
  <a href="<%= new_document_url(@case, @folder) %>" class="btn btn-primary btn-sm">Dokument hinzufügen</a>
  <a href="<%= edit_folder_url(@case, @folder) %>" class="btn btn-secondary btn-sm">Ordner bearbeiten</a>
</div>

<% if @folder.documents.any? %>
<div class="list-group list-group-flush mb-3">
  <% @folder.documents.order(created_at: :desc).each_with_index do |d, id| %>
  <div class="list-group-item">
    <div class="row mb-1">
      <div class="col-auto">
        <a href="<%= document_url(@case, @folder, d) %>" class="badge fs-5 fw-bold text-bg-dark text-decoration-none px-1"><%= (d.document_number) %></a>
      </div>
      <%= link_to document_url(@case, @folder, d), class: 'col pt-0 d-block link-dark text-decoration-none' do %>
        <h4 class="h6 fw-bold m-0 mb-1"><%= d.name %></h4>
        <p class="m-0 fs-small"><%= d.author_name %>, <%= d.sent_at.strftime("%d.%m.%Y") %></p>
      <% end %>
      <div class="col-auto pt-0">
        <% if d.primary_item.blank? %>
          <span class="badge text-secondary border"><%= d.document_type.title %></span>
        <% else %>
          <%= link_to "#{d.document_type.title}", url_for(d.primary_item.file),
                      class: 'badge text-bg-secondary text-decoration-none', target: '_blank' %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% else %>
<p>Dieser Ordner ist leer.</p>
<% end %>

<% end %>