<%= render 'case/case_header', view: :permissions %>

<h2 class="h3 mb-3 fw-bold">Berechtigungen <% if current_user.manager_of? @case %>bearbeiten<% end %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Kürzel</th>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Rolle</th>
      <% if current_user.manager_of? @case %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @case.case_permissions.each do |cp| %>
      <tr class="align-middle">
        <td><span class="fs-5 badge text-bg-dark fw-normal py-1 lh-1 font-monospace"><%= cp.user.shortcode %></span></td>
        <td><%= cp.user.display_name %></td>
        <td><%= mail_to cp.user.email %></td>
        <td>
          <abbr title="<%= cp.case_permission_type.attributes.join(", ") %>"><%= cp.case_permission_type.name %></abbr>
        </td>
        <% if current_user.manager_of? @case %>
        <td>
          <a href="<%= edit_permission_url(@case, cp) %>" class="btn btn-outline-secondary py-0 px-1 btn-sm">Bearbeiten</a>
          <a href="<%= delete_permission_url(@case, cp) %>" class="btn btn-outline-danger py-0 px-1 btn-sm">Entfernen</a>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.manager_of? @case %>
<a href="<%= new_permission_url(@case) %>" class="btn btn-secondary">Berechtigung hinzufügen</a>
<% end %>