<h1 class="fw-bold mb-3">Profil bearbeiten</h1>

<p class="mb-4"><%= link_to "Dokumententypen bearbeiten", edit_writing_types_url %></p>


<%= form_with url: update_profile_url, model: current_user, method: :post do |form| %>

  <div class="form-floating mb-3">
    <%= form.text_field :id, class: 'form-control', placeholder: '', disabled: true %>
    <%= form.label :id, 'Nutzer-ID' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :full_name, class: 'form-control', placeholder: '' %>
    <%= form.label :full_name, 'Anzeigename/Vor- und Nachname' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :shortcode, class: 'form-control', placeholder: '' %>
    <%= form.label :shortcode, 'Kürzel (sollte eindeutig sein)' %>
  </div>

  <%= form.submit 'Speichern', class: 'btn btn-primary' %>
<% end %>